/* Reset e stile di base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-size: 17px;
  color: #1B263B;
}

/* Stile per immagini */
img {
  height: auto;
  width: 7%;
  margin-left: 1%;
  margin-top: 1%;
}

/* Stile generale del corpo della pagina */
body {
  background-color: #1B263B;
}

/* Stile per il video di sfondo */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

/* Stile per l'elemento h1 (titolo principale) */
h1 {
  color: white !important;
  margin-top: 1%;
  margin-left: 2%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw; /* Dimensione del font in base alla larghezza del viewport */

  /* Stile per il titolo h1 su schermi con larghezza massima di 500px (mobile) */
  @media (max-width: 500px) {
    font-size: 80px; /* Imposta una dimensione del font fissa per il formato mobile */
    margin-top: 10%;
    margin-left: 5%;
  }
  
}

/* Stile per il contenitore principale */
.container {
  background-color: #ffffff;
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

/* Stile per le immagini all'interno del contenitore */
.container .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.2em auto 1.8em auto;
}

/* Stile per l'elemento h2 */
.container h2 {
  font-weight: 600;
  color: #1B263B;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

/* Stile per il wrapper dati */
.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}

/* Stile per l'elemento h4 */
.container h4 {
  display: inline;
  font-weight: 500;
  color: #222a43;
}

/* Stile per gli elementi span */
.container span {
  color: #1B263B;
}

/* Stile per l'elemento h3 */
.container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #ff465a;
}

/* Stile per il paragrafo */
p {
  color: #1B263B;
}

/* Nascondi gli elementi di tipo "i" */
i {
  display: none;
}

/* Stile per il wrapper di ricerca */
.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
  margin-bottom: 1em;
}

/* Stile per il bottone di ricerca */
.search-wrapper button {
  font-size: 15px;
  background-color: #1B263B;
  color: #ffffff;
  padding: 1em 0;
  border: none;
  border-radius: 1.0em;
  cursor: pointer;
}

/* Stile per il bottone di reset */
#reset-btn {
  display: none;
  font-size: 1em;
  background-color: #1B263B;
  color: #ffffff;
  padding: 0.8em 44px;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  margin-left: 78%;
  margin-top: 3%;

  /* Stile per il bottone di reset su schermi con larghezza massima di 500px (mobile) */
  @media (max-width: 500px) {
    display: block; /* Mostra il bottone di reset */
    /* Aggiungi qui le proprietà del bottone adatte per la visualizzazione mobile */
    /* Ad esempio: */
    font-size: 0.8em;
    padding: 0.6em 30px;
    margin-left: 0;
    margin-top: 1em;
  }
}
